<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Melodia - Ops</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="~{fragments/layout :: header}"></div>

<main>
    <div class="auth-card">
        <h2>Ops!</h2>
        <p th:text="${mensagem}">Ocorreu um erro.</p>
        <a th:href="@{/}">Voltar para a home</a>
    </div>
</main>

<div th:replace="~{fragments/layout :: footer}"></div>

</body>
</html>
