<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Melodia</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="~{fragments/layout :: header}"></div>

<main>
    <div class="hero">
        <h2>Catálogo Musical</h2>

        <form th:action="@{/buscar}" method="get">
            <input type="text" name="nome" placeholder="Pesquise por uma banda...">
            <button type="submit">Buscar</button>
        </form>

        <p>Descubra bandas, álbuns e músicas.</p>
    </div>
</main>

<div th:replace="~{fragments/layout :: footer}"></div>

</body>
</html>
